<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWM Patient Information Page</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/scroller.css}">
</head>
<body>
<div class="registrationContainer">

    <div id="myHeader">
        <img th:src="@{/image/logo.PNG}" id="myLogo" alt="cwm logo" class="logo">
        <h2>Patient Information</h2>
    </div>
    <div class="reg-top">
        <a href="home.html" >Back Home</a>
    </div>
    <div>

        <form role="form" method="post" th:action="@{/patient/create}" th:object="${patient}" class="registrationForm" onsubmit="return validateForm()"   enctype="multipart/form-data"  novalidate>
            <!-- Profile Image Upload Field -->
            <div class="formRow">
                <div class="formGroup">
                    <label for="imageFile">Upload Profile Image:</label>
                    <input type="file" id="imageFile" name="imageFile" accept="image/*">
                    <span class="error-message" id="imageFile-error" style="display: none;">
                        Please upload a valid image.
                    </span>
                </div>
                <div class="formGroup"></div>
            </div>
            <div class="formRow">
                <div class="formGroup">
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="fname" placeholder="Enter First Name" th:field="*{patient_fname}" required>
                    <span class="error-message" id="fname-error">First name is required.</span>
                </div>

                <div class="formGroup">
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" placeholder="Enter Last Name" th:field="*{patient_lname}" required>
                    <span class="error-message" id="lname-error">Last name is required.</span>
                </div>
            </div>

            <div class="formRow">
                <div class="formGroup">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender"  th:field="*{gender}" required>
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <span class="error-message" id="gender-error" style="display: none;">Please select your gender.</span>
                </div>
                <div class="formGroup">

                </div>
            </div>

            <div class="formRow">
                <div class="formGroup">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email" required>
                    <span class="error-message" id="email-error">Invalid email format.</span>
                </div>
            </div>

            <div class="formRow">
                <div class="formGroup">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob" th:field="*{dateOfBirth}" required>
                    <span class="error-message" id="dob-error">Please select a valid date.</span>
                </div>

                <div class="formGroup">
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone"
                           value="(679) " required
                           pattern="\([0-9]{3}\) [0-9]{7}"
                           maxlength="13"
                           title="Phone number format: (679) 1234567"
                           th:field="*{phoneNumber}">
                    <span class="error-message" id="phone-error">Invalid phone format.</span>
                </div>
            </div>

            <div class="formRow">
                <div class="formGroup">
                    <label for="address">Address:</label>
                    <textarea id="address" name="address" rows="3" placeholder="Enter Address" th:field="*{address}" required></textarea>
                    <span class="error-message" id="address-error">Address is required.</span>
                </div>
            </div>

            <div class="formRow">
                <div class="formGroup">
                    <label for="emergencyName">Emergency Contact Name:</label>
                    <input type="text" id="emergencyName" name="emergencyName" placeholder="Emergency Contact Name" th:field="*{emergencyContactName}" required>
                    <span class="error-message" id="emergencyName-error">This field is required.</span>
                </div>

                <div class="formGroup">
                    <label for="emergencyPhone">Emergency Phone:</label>
                    <input type="tel" id="emergencyPhone" name="emergencyPhone"  value="(679) " th:field="*{emergencyContactPhone}" required
                           pattern="\([0-9]{3}\) [0-9]{7}"
                           maxlength="13"
                           title="Phone number format: (679) 1234567">
                    <span class="error-message" id="emergencyPhone-error">Invalid phone format.</span>
                </div>
            </div>
            <div class="formRow">
                <div class="formGroup">
                    <label for="emergencyEmail">Emergency Email:</label>
                    <input type="email" id="emergencyEmail" name="email" placeholder="Enter Email" required>
                    <span class="error-message" id="emergencyEmail-error">Invalid email format.</span>
                </div>
            </div>
            <div class="formGroup buttonGroup">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>
<script  th:src="@{/js/validation_patient_info.js}"></script>
</body>
</html>