<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWM Login Page</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/scroller.css}">

</head>
<body>
<div class="loginContainer">
    <div id="myHeader">
        <img th:src="@{/image/logo.PNG}" id="myLogo" alt="cwm logo" class="logo">
    </div>
    <div class="login-top">
        <h2>Sign in</h2>
        <a th:href="@{/}" >Back Home</a>
    </div>
    <div>
        <form method="post" th:action="@{/login}">

            <label for="userName"></label>
            <input
                    type="text"
                    id="userName"
                    placeholder="Username"
                    name="username"
                    required>
            <label for="password"></label>
            <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    name="password"
                    required>
            <a href="">Forgot Password?</a>
            <button type="submit" id="loginButton">Sign In</button>

        </form>
        <!-- Register link and Google sign-in -->
        <div class="additional-options">
            <div class="or-separator">or</div>
            
            <!--TODO google auth-->
            <button class="google-login"><img th:src="@{/image/google.png}" class="icon" alt="googleImg"> &nbsp;Sign in with Google</button>
        </div>
    </div>
</div>
<div class="register">

    <a th:href="@{/register}">Don't have an account? Register here!</a>

</div>

</body>
</html>