<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}">
</head>
<body>

            <div  th:if="${param.error}" class="alert">
                <span class="closebtn">&times;</span>
                <strong>Warning! </strong>Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert info">
                <span class="closebtn">&times;</span>
                <strong>Successfully! </strong>logged out.
            </div>

            <div class="container_log">
                <div class="logo">
                    <img src="_logo.png" alt="Hospital Logo" >
                </div>
                <form  method="post" th:action="@{/login}">
                    <div class="login-box">
                        <h2>Login</h2>
                        <input
                                id="username"
                                type="text"
                                class="form-control"
                                placeholder="Username"
                                name="username">
                        <input
                                id="password"
                                type="password"
                                class="form-control"
                                placeholder="Password"
                                name="password">

                        <div style="display: flex;">
                            <a href="#" style="margin-right: 100px;">Forgot Password</a>
                            <a th:href="@{/register}">Sign Up</a>
                        </div>
                        <button  type="submit" value="Log in">Login</button>
                    </div>
                </form>
            </div>


<script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
</script>
</body>
</html>