<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Appointments Page</title>
  <link rel="stylesheet" th:href="style_v1.css"> <!-- Assume the provided CSS is in styles.css -->
</head>
<body>
    <div class="header">
      <img src="hospital-logo.png" alt="Hospital Logo" class="logo">
      <button class="logout">Logout</button>
    </div>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <button class="active"><a>Profile</a></button>
            <button ><a th:href="@{/patient/health_record}">Health Records</a></button>
            <button><a th:href="@{/patient/appointment}">Appointments</a></button>
            <button><a href="dr_payment.html">Payments</a></button>
        </div>

        <!-- Content -->
        <div class="content">
          <h2>Set Appointments</h2>
          <div class="form-group">
            <input type="text" placeholder="Enter Patient ID">
            <input type="text" placeholder="Enter Patient Name">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Enter Patient Appointment Date">
            <input type="text" placeholder="Enter Patient Appointment Venue">
          </div>
          <button class="proceed-payment"><a th:href="@{/patient/request_schedule}">Set Appointment</a></button>
        </div>
    </div>
</body>
</html>