<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/style_v1.css}" />
</head>
<body>
<div class="topnav">
  <a class="active" th:href="@{/logout}">Logout</a>

</div>
<div >
  <table>
    <tbody>
    <tr>
      <th>Patient ID</th>
      <th>Patient First Name</th>
      <th>Patient Last Name</th>



    </tr>
    <tr th:each="patients :${patient}" >
      <td th:Text="${patients.id}" ></td>
      <td th:Text="${patients.patient_fname}" ></td>
      <td th:Text="${patients.patient_lname}" ></td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>